/* ******************************Section 01 CSS starts here****************************************************************/
.resource_page{
    padding-top: 112px ;
    background-color: #fff;
}
.resource_page .resource_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resource_page .resource_content .resource_left_content{
    /* max-width: 585px; */
    display: flex;
    flex-direction: column;
    max-width: 46%;
    justify-content: center;
}
.resource_page .resource_content  .resource_right_content{
    max-width: 46%;
}

/************* Section 01 Media Query starts  */
@media (max-width: 767px) {
    .wrapper {
      flex-direction: column;
    }
    .resource_page{
        padding-top: 80px;
    }
    .resource_page .resource_content{
        display: block;
    }
    .resource_page .resource_content  .resource_right_content{
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .resource_page .resource_content .resource_left_content{
        max-width: 100%;
    }
}
/* ***************Section 01 Media Query ends */
/* **************************Section 01 CSS ends here ***********************************************************************/


/*****************Section 02 CSS starts *********************************************************************************** */
.cards_section{
    padding: 168px 0 143px;
    background-color: #F5F9FC;
}
.cards_section .cards_section_content .all_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
}

.cards_section .cards_section_content .box{
    background-color: #fff;
    min-height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    flex-basis: 15%;
    border: 1px solid rgba(11, 54, 148, 0.15);
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    padding: 0 10px
}
.cards_section .cards_section_content .box:hover{
 box-shadow:0px 2px 40px rgba(0, 0, 0, 0.15) ;
}