/* ******************************Section 01 CSS starts here****************************************************************/



.resource_page{
  padding: 225px 0 162px;
  position: relative;
}
.resource_page .resource_content{
  display: flex;
  justify-content: space-between;
}
.resource_content .resource_right_content{
  position: absolute;
  bottom: 0;
  right: 3%;
}


.resource_content .resource_left_content{
  display: flex;
  max-width: 47%;
  flex-direction: column;
  justify-content: center;
}
 
 
.resource_content .resource_right_content{
  max-width: 46%;
}







/************* Section 01 Media Query starts  */

@media (max-width: 767px){
.resource_content .resource_right_content{
  max-width: 100%;

} 
.resource_page{
  padding: 60px 0;
}
.resource_content .resource_right_content{
  position: relative;

}
.resource_page .resource_content{
  display: block;
}
.resource_page{
 
  padding: 60px 0;
}
.resource_content .resource_right_content{

  bottom: 0;
  right: 0;
  left:0;
  margin: 0 auto;
}
.resource_content .resource_left_content{
  
  max-width: 100%;
  text-align: center;

}
.resource_content .resource_right_content img{
  width: 100%;
}
.resource_content .resource_left_content .all_cards .all_cards .all_cards .large{
  font-size: 18px;

}

}

 @media (max-width: 1023px){

  /* .resource_page{
     padding: 60px 0; 
    padding: 63px 0 60px;
  } */
  /* .resource_content .resource_right_content{

    bottom: 0;
    right: 0;
    left:0
  }  */
  .resource_content .resource_right_content img{
    width:100%
  } 
  .resource_page{
    padding: 60px 0 ;
  }
  .resource_content .resource_right_content{
    position: relative;
  
  }
  
  
  
} 

/* ***************Section 01 Media Query ends */
/* **************************Section 01 CSS ends here ***********************************************************************/

/*****************Section 02 CSS starts *********************************************************************************** */
.cards_section {
  padding: 168px 0 143px;
  background-color: #f5f9fc;
}
.cards_section .cards_section_content .all_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
}

.cards_section .cards_section_content .box {
  background-color: #fff;
  min-height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  flex-basis: 15%;
  border: 1px solid rgba(11, 54, 148, 0.15);
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 0 10px;
}
.cards_section .cards_section_content .box:hover {
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}
.cards_section .cards_section_content .box h4{
  margin-bottom: 0;
}
/* **************Section 02 Media Query starts***********/
@media (max-width: 1024px) {
  .cards_section {
    padding: 80px 0;
  }
  .cards_section .cards_section_content .box {
    flex-basis: 25%;
  }
}
@media (max-width: 767px) {
  .cards_section .cards_section_content .box {
    flex-basis: 100%;
  }
  .cards_section {
    padding: 60px 0;
  }
}


/* *************Section 02 Media Query ends*************** */
/* *********************************************Section 02 CSS ends *********************************************** */

/* ********************Section 03 CSS starts ************************************************************************/
.tutorials_section {
  padding: 97px 0 120px;
}
.tutorials_section .tutorials_section_content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.tutorials_section .tutorials_section_content .tut_top_content{
    max-width: 852px;
     
}
.tutorials_section
  .tutorials_section_content
  .tut_bottom_section
  .all_tut_cards {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 20%; */
  /* gap: 30px; */
  gap:1.8%;
  row-gap: 30px;
  justify-content: space-between;
}
.tutorials_section
  .tutorials_section_content
  .tut_bottom_section
  .all_tut_cards
  .card {
  display: flex;
  justify-content: center;
  /* align-items: center;
    text-align: center; */
  /* flex-basis: 26.11%; */
  flex-basis:calc(28.8% - 30px);
  min-height: 230px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  border: 1px solid rgba(11, 54, 148, 0.15);
  flex-direction: column;
  padding: 30px;
}
.tutorials_section
  .tutorials_section_content
  .tut_bottom_section
  .all_tut_cards
  .card .cards_bottom:hover{
    text-decoration: underline;
    transition: all 0.5s ease-in;

  }
.tutorials_section
  .tutorials_section_content
  .tut_bottom_section
  .all_tut_cards
  .card:hover {
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.15);
}
/******************Section-03 Media Query starts****************** */
/* @media (min-width: 768px) and (max-width: 1024px) {
  .tutorials_section {
    padding: 80px 0;
  } */
  @media (min-width: 768px) and (max-width: 1024px) {
    .tutorials_section {
      padding: 80px 0;
    }
  .tutorials_section
    .tutorials_section_content
    .tut_bottom_section
    .all_tut_cards
    .card {
    flex-basis: 38%;
  }
}
@media(max-width:767px){
    .tutorials_section {
        padding: 60px 0;
      }
      .tutorials_section
  .tutorials_section_content
  .tut_bottom_section
  .all_tut_cards
  .card {
        flex-basis: 100%;
        max-height: 100%;
      }
}
/*************************Section-03 media query ends************/
/**************************************************Section-03 CSS ends here********************************************** */



/********************Section-04 CSS starts from here ******************************************************************** */
.product_feature{
    padding: 120px 0;
    background: #F5F9FC; 
}
.product_feature .product_feature_content .feature_top {
    max-width: 852px;
  
   
}
.product_feature .product_feature_content .feature_middle .para {
    font-size: 12px;
}
.product_feature .product_feature_content .feature_middle_left{
    max-width: 543px;
 
}
.product_feature .product_feature_content .feature_middle_right{
  max-width: 543px;
  
}
.product_feature .product_feature_content .feature_middle_right .feature_bottom a:hover{
 text-decoration: underline;
}
.product_feature .product_feature_content .feature_middle_left .feature_bottom a:hover{
  text-decoration: underline;
 }
.product_feature .product_feature_content .feature_bottom_button{
    text-align: center;
    padding-top: 51px;
    
}
.product_feature .product_feature_content .feature_bottom_button .button{
    border-radius: 6px;

}
.product_feature .product_feature_content .feature_middle .feature_sub_top .duration{
    display:flex;
    gap:42px;
}
.product_feature .product_feature_content .feature_middle_left .feature_sub_top .duration img{
    display:inline-block;
}
.product_feature .product_feature_content .feature_middle_left .feature_sub_top .duration p{
    display:inline-block;
}
.product_feature .product_feature_content .feature_middle_left .duration{
  display: flex;
  gap:42px;
  padding-top: 8px;
}
.product_feature .product_feature_content .feature_middle_right .duration{
  display: flex;
  gap:42px;
  padding-top: 8px;
}


.product_feature .product_feature_content .feature_middle_right .feature_sub_top .duration img{
  display:inline-block;
}
.product_feature .product_feature_content .feature_middle_right .feature_sub_top .duration p{
  display:inline-block;
}
.product_feature .product_feature_content .feature_middle_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:59px;
  padding-top: 70px;
}
/************************Section-04 media query starts************************** */
@media(max-width:1194px){
  .product_feature .product_feature_content .feature_middle_wrapper{
   flex-direction: column;
  }

.product_feature{
  padding: 80px 0;
}
  .product_feature .product_feature_content .feature_top {
    max-width: 100%;
    text-align: center;
  }
  .product_feature .product_feature_content .feature_middle_left{
    width:100%;
  }
  .product_feature .product_feature_content .feature_middle_right{
    width:100%;
  }
  .product_feature .product_feature_content .feature_middle_wrapper .feature_middle_left .feature_sub_top .medium{
    line-height: 30px;
  }


/* @media(max-width:1024){
    .product_feature .product_feature_content .feature_middle_wrapper{
     flex-direction: column;
    }
  } */


  /* .product_feature .product_feature_content .feature_middle_wrapper .feature_middle_left{
    max-width: 100%;
} */
}

/***********************Section-05 CSS starts from here********************************* */
.roadmap_section{
  padding: 120px 0;
  background-color: #FFF;
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_left{
  background-image: url('./Images/image\ 5.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  display: inline-block;
  min-height: 367px;

  /* min-height: 385px; */
  /* max-width: 385px;
  width:100% */
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right{
  width: 42%;
  background-color: #F5F9FC;
  padding: 38px;
}
.roadmap_section .roadmap_content .roadmap_sub_top{
  display: flex;
  flex-wrap: wrap;
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right .video_duration_1{
  display:flex;
  gap:11%;
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right .video_duration_1 .dur_image_left img {
  display: inline-block;
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right .video_duration_1 .dur_image_left p{
  display: inline-block;
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right .video_duration_1 .video_image_right img p{
  display: inline-block;
}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right .video_duration_1 .video_image_right p{
  display: inline-block;
}



.roadmap_section .roadmap_content .roadmap_subtop_2{
  padding-top: 159px;
}
/* .roadmap_section .roadmap_content .roadmap_subtop_2 .map_top{
  max-width: 852px;
    width: 100%;
} */
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows{
  display: flex;
    gap: 29px;
    flex-wrap: wrap;
    margin-top: 70px;
    
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .roadmap_1_image{
  background-image: url('./Images/image\ 5.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 273px;
  margin-bottom: 20px;
}


.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .roadmap_2_image{
  background-image: url('./Images/image\ 2.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 272px;
  margin-bottom: 20px;
}


.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .roadmap_3_image{
  background-image: url('./Images/third.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 272px;
  margin-bottom: 20px;
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card {
 
    flex-basis: 31%;
    display: flex;
    border-radius: 6px;
    border: 1px solid #D3DCE5;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .roadmap_1_content{
padding: 20px;
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .roadmap_1_content .large{
  margin-bottom: 26px;
}




.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .video_duration_1{
  display:flex;
  gap:11%;
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .video_duration_1 .dur_image_left img{
  display:inline-block
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .video_duration_1 .dur_image_left p{
  display:inline-block
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .video_duration_1 .video_image_right img{
  display:inline-block
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .video_duration_1 .video_image_right p{
  display:inline-block
}
.roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card .video_duration_1{
  padding-left: 20px;
}
/**********************Section-05 Media Query*********** */
@media(max-width:1024px)
{
  /* .roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card {
    flex-basis: 50%;
    flex-direction: column;
  } */
  .roadmap_section{
    padding:80px 0;
  }
  .roadmap_section .roadmap_content .roadmap_subbottom_2 .roadmap_rows .roadmap_card {
    flex-basis: 47%;}
 

}
.roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right{
  padding: 28px; 
}

.roadmap_section .roadmap_content .roadmap_subtop_2{
  padding-top:80;
}

@media(max-width:767px)
{
  .roadmap_section .roadmap_content  .roadmap_subbottom_2 .roadmap_rows .roadmap_card {
    flex-basis: 100%;

  }
  .roadmap_section{
    padding:60px 0;
  }
  .roadmap_section .roadmap_content .roadmap_sub_top .roadmap_left{
    width: 100%;

  }
  .roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right{
    width: 100%;
   
  }
  .roadmap_section .roadmap_content .roadmap_sub_top .roadmap_right{
    padding: 20px; 
  }
  .roadmap_section .roadmap_content .roadmap_subtop_2{
    padding-top:60;
  }

  /* .roadmap_section .roadmap_content  .roadmap_subbottom_2{
    display:flex;
    flex-direction: column;
  } */
}




/***********************Section-05 CSS ends here**************************************** */

/************************Section-06 CSS starts from here********************************* */
.training_section{
  padding:120px 0;
  background: #F5F9FC;
}
.training_section .training_section_content .training_bottom_section .training_rows{
  display: flex;
  flex: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 70px;
}
.training_section .training_section_content .training_bottom_section .training_rows .training_card{
  background-color: #FFF;
  max-width: 362px;
  padding: 21px;
  flex-basis: 29%;
  border-radius: 6px;
  border: 1px solid rgba(11, 54, 148, 0.15);
  line-height: 20px;
  /* transition: all 0.4s ease-in-out; */
}
.training_section .training_section_content .training_bottom_section .training_rows .training_card .button{
  border-radius:6px;
  padding: 15px 34px;
}
/************Section-06 Media query start*/
@media (min-width: 768px) and (max-width: 1024px) {
  .training_section {
    padding: 80px 0;
  }
  
} 

@media(max-width:767px){
  .training_section {
      padding:  0;
    }
.training_section .training_section_content .training_bottom_section .training_rows .training_card    {
    flex-basis: 100%;
    max-height: 100%;
    max-width: 100%;
    }
    .training_section .training_section_content .training_bottom_section .training_rows {
      flex-direction: column;
}
}
/*************************Section-06 Media Query ends********** */
/********************************************Section-06 CSS ends here******************************** */


/***********************************************Section-07 CSS starts from here**************************** */
.videos_section{
  padding: 120px 0;
}
.videos_section .videos_section_content .videos_bottom_section {
  padding-top: 70px;
}
.videos_section .videos_section_content .videos_bottom_section .all_videos{
  display: flex;
  gap: 59px;
  flex-wrap: wrap;
  justify-content: center;

}
.videos_section .videos_section_content .videos_bottom_section .all_videos .video{
  max-width:543px;
}
.videos_section .videos_section_content .videos_bottom_section .all_videos .video_duration_1{
  
  display: flex;
  gap: 42px;
  padding-top: 8px;
}
.videos_section .videos_section_content .videos_bottom_section .all_videos .video .videos_mid_content .video_bottom a:hover{
  text-decoration: underline;
}


.videos_section .videos_section_content .videos_bottom_section .all_videos .video_duration_1 .dur_image_left img{
  display: inline-block;
}
.videos_section .videos_section_content .videos_bottom_section .all_videos .video_duration_1 .dur_image_left p{
  display: inline-block;
}
.videos_section .videos_section_content .videos_bottom_section .all_videos .video_duration_1 .video_image_right img{
  display: inline-block;
}
.videos_section .videos_section_content .videos_bottom_section .all_videos .video_duration_1 .video_image_right p{
  display: inline-block;
}
/*********************section-07 Media Query starts***************** */

/*********************Section-07 Media Query ends******************* */
/**************************************************Section-07 CSS ends ********************************************* */
.wistia_click_to_play, #wistia_399.thumbnail{
  width: 100% !important;
  max-width:543px;
}




/*************************************Section-08 CSS starts*********************************** */
.documentation_section{
  background-color: #F5F9FC;
  padding: 120px 0;
}
.documentation_section .documentation_content h2{
 
  margin-bottom: 0;
}
.documentation_section .documentation_content .documentation_1{
  padding-top: 86px;
}
.documentation_section .documentation_content .documentation_1 .doc_bottom_content{
  display: flex;
  column-gap: 2%;
  row-gap: 31px;
  flex-wrap: wrap;
 
  
  justify-content: flex-start;
}
.documentation_section .documentation_content .documentation_1 .doc_bottom_content .doc_card{
  background-color: #fff;
  max-width: 361px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 3px;
  flex-basis: 29%;
  border: 1px solid rgba(11, 54, 148, 0.15);
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 18px 10px;
  border-radius: 6px;
}
.documentation_section .documentation_content .documentation_1 .doc_bottom_content .doc_card:hover{

box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.15);

}

.documentation_section .documentation_content .documentation_1 .doc_bottom_content .doc_card .container{
  display: flex;
  align-items: center;
  gap: 20px;

 
}
.documentation_section .documentation_content .documentation_1  .doc_top_content{
  max-width: 852px;
  padding-bottom: 41px;
  
}
.documentation_section .documentation_content .documentation_1  .doc_top_content p{
  margin-bottom: 0;
}
.documentation_section .documentation_content .documentation_1 .doc_bottom_content .doc_card .container .large{
  margin-bottom: 0;
}
/***********************Section-08 Media Query******************* */
@media (min-width: 768px) and (max-width: 1024px) {
  .documentation_section {
    padding: 80px 0;
  }
.documentation_section .documentation_content .documentation_1 .doc_bottom_content .doc_card {
  flex-basis: 46%;
  max-width: none;
}
.documentation_section .documentation_content .documentation_1 .doc_top_content p{
  justify-content: center;
}
.documentation_section .documentation_content .documentation_1{
  padding-top: 65px;
}
.documentation_section .documentation_content .documentation_1 .doc_bottom_content{
  justify-content: space-between;
}
}
@media(max-width:767px){
  .documentation_section {
      padding: 60px 0;
    }
    .documentation_section .documentation_content .documentation_1{
      padding-top: 55px;
    }
.documentation_section .documentation_content .documentation_1 .doc_bottom_content .doc_card {
      flex-basis: 100%;
      max-width: 100%;
    }
.documentation_section .documentation_content .documentation_1 .doc_top_content p{
      justify-content: center;
    }
.documentation_section .documentation_content .documentation_1 .doc_bottom_content{
  row-gap: 20px;
}
}
/*************************Section-08 media query ends*********************** */
/********************************************Section-08 CSS ends************************************************ */



/**********************************Section-09 CSS starts ********************************************************/
.framework_section{
  padding: 120px 0 130px;

}
.framework_section .framework_section_content .framework_top_section .large{
  max-width: 852px;
}
.framework_section .framework_section_content  .framework_bottom_section .framework_rows{
   display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 70px;
    
}

.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card{ 
 
  max-width: 558px;
  /* padding: 21px; */
  flex-basis: 29%;
  border-radius: 6px;
  border: 1px solid rgba(11, 54, 148, 0.15);
  
}
/* .framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_image_1{
  background-image: url('./Images/image\ 44.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
 
  margin-bottom: 20px;
} */

.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_left{
  padding: 25px;
}
.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_right{
  padding: 25px;
}
.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_left .checks{
  display:flex;
  flex-wrap: wrap;
  gap:30%;
  row-gap: 18px;
}
.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_left .check_1{
  display:flex;
  gap:10px;
}
.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_left .check_1 .medium{
  margin-bottom: 0;
}
.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_right .read {
margin-top: 31px;
}


.framework_section .framework_section_content  .framework_bottom_section .framework_rows .framework_card .framework_bottom_content_left .read{
  margin-top: 10px;

}
/************************Section-09 Media Query starts**************** */
@media(max-width:1024px){
  .framework_section{
    padding: 80px 0 ;
  
  }
 
}

@media (max-width: 767px) {
  
  .framework_section{
    padding:60px;
  
  }
  .framework_section .framework_section_content .framework_top_section .large{
    max-width: 100%;
  }
}



/* Section-10 CSS starts from here */
.ecosystem_section{
  background-color: #F5F9FC;
  padding: 120px 0 119px;
}
.ecosystem_section .ecosystem_section_content .eco_bottom_section .ecosystem_rows .card .eco_left_content{
  background-color: #fff;
  /* max-width: 170px; */
  display: flex;
  padding: 3px;
  flex-basis: 29%;
  border: 1px solid rgba(11, 54, 148, 0.15);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 15px 10px;
  justify-content: center;
  border-radius: 6px;
}
.ecosystem_section .ecosystem_section_content .eco_bottom_section .ecosystem_rows .card {
  display:flex;
  gap:5%;
  padding-top: 55px;
}
.ecosystem_section .ecosystem_section_content .eco_bottom_section .ecosystem_rows .card .vertical_line{
  border: 1px solid var(--secondary-border-color, #DEE2EA);
}
/* .ecosystem_section .ecosystem_section_content .eco_bottom_section .ecosystem_rows .card { */
/* media Query of Section-10 */
@media(max-width:1024px){
  .ecosystem_section{
    padding: 80px 0;
  }
  
}
@media(max-width:767px){
  .ecosystem_section{
    padding: 60px 0;
  }
  .ecosystem_section .ecosystem_section_content .eco_bottom_section .ecosystem_rows .card{
    flex-direction: column;
    align-items: center;
  }
  .ecosystem_section .ecosystem_section_content .eco_bottom_section .ecosystem_rows .card .vertical_line{
  display:none;
  }
  
}
/* Section-11 CSS*/
.roadmap_section_padding{
  padding: 120px 0 110px;
}
.roadmap_section .roadmap_content .roadmap_subtop_2_2{
  padding-top:0 ;
}
@media(max-width:1024px){
  .roadmap_section_padding{
    padding-top:60px;
  }

  @media(max-width:767px){
    .roadmap_section_padding{
      padding-top:40px;
    }
  }
}
/**********************Section-11 ends here********************* */


/**************************Section-12 starts from here************/
.blog_section{
  padding:99px 0 121px;
  background-color: #F5F9FC;
}
.blog_section .blog_section_content .blog_bottom_section .blog_rows{
  display:flex;
  gap: 32px;
  justify-content: center;
}
.blog_section .blog_section_content .blog_bottom_section .blog_rows .card{
  background-color: #FFF;
  /* max-width: 530px; */
  /* padding: 21px; */
  padding:58px 41px 56px 40px;
  flex-basis: 37%;
  border-radius: 6px;
  border: 1px solid rgba(11, 54, 148, 0.15);
  line-height: 20px;
}
.blog_section .blog_section_content .blog_top{
  margin-bottom: 62px;
  text-align: center;
}
.blog_section .blog_section_content .blog_bottom_section .blog_rows .card .card_middle_content .card_para{
  margin-bottom: 24px;
}
.blog_section .blog_section_content .blog_bottom_section .blog_rows .card .card_image{
  text-align: center;
  margin-bottom: 20px;
}
.blog_section .blog_section_content .blog_bottom_section .blog_rows .card .card_middle_content{
  text-align: center;
}
@media(max-width:767px){
  .blog_section .blog_section_content .blog_bottom_section .blog_rows{
    flex-direction: column;
}
.blog_section .blog_section_content .blog_bottom_section .blog_rows .card{
  flex-basis: 100%;
}
.blog_section{
  padding:60px 0 60px;
}
}

/**********************Section-13 CSS starts from here***************** */
.footer_section{
  background: #fff;
  padding: 110px  0 ;
  position: relative;
 
}
.footer_section:before {
  background-color: #0b3694;
  position: absolute;
  height: 50%;
  width: 100%;
  z-index: 0;
  background-size: contain;
  top: 0px;
  content: "";
  pointer-events: none;
}
.footer_section .footer_section_content{
  display: flex;
  gap: 51px;
  border-radius: 6px;
  padding: 55px;
  background: #FFF;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.15)
}
.footer_section .footer_section_content .footer_right_content{
  max-width: 64%;
}
@media(max-width:767px){
  .footer_section{
    padding:60px 0;
  }
  .footer_section .footer_section_content .footer_right_content{
    max-width: 100%;
  }
  .footer_section .footer_section_content{
    flex-direction: column;
  }
  .footer_section .footer_section_content .footer_right_content .footer_button{
     text-align: center;
     margin-top: 20px;

}
}


