
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  color: #14263b;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  max-width: 1149px;
  padding: 0 15px;
  margin: 0 auto;
  float: none;
}

*,
*::before,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
address,
strong {
  margin: 0;
  padding: 0;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-transform: initial;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-bottom: 15px;
  color: #14263b;
}

h1 {
color: var(--2, #0B3694);
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px;
letter-spacing: -0.4px;
}

h3 {
color: var(--2, #0B3694);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
}

h2 {
color: #0B3694;
font-size: 36px;
font-weight: 700;
line-height: 44px;
}

h4 {
color: #0B3694;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
letter-spacing: 0.15px;
}

h5 {
  font-size: 30px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
}

h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: normal;
}

p.small {
  color: #171D29;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
}

p.medium {
color: #000;
font-size: 16px;
font-weight: 400;
line-height: 20px; 
letter-spacing: -0.3px;
}

p.large {
  color: #171D29;
font-size: 20px;
font-weight: 400;
line-height: 24px; /* 120% */
letter-spacing: 0.15px;
}

b {
  font-size: 22px;
  font-weight: 600;
  color: #14263b;
}

address {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  color: #fff;
}

label {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::-moz-placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

a {
color: #0B3694;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.356px;
  /* font-size: 14px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  line-height: 140%;
  transition: all 0.4s ease-in; */
}

a:hover {
  transition: all 0.4s ease-in;
  color: #0B3694;
}

a.cta_button {
  background:  #0B3694;
  color: #fff;
  /* text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; */
  padding: 20px 34px;
  transition: all 0.3s ease-in;
  display: inline-block;
  text-decoration: none;


color: #FFF;
text-align: center;

font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 17px; /* 100% */
text-transform: uppercase;
}

a.cta_button:hover {
  background: #fff;
  color:#0B3694;
  transition: all 0.3s ease-in;
}

button {
  background: #0B3694;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 34px;
  transition: all 0.3s ease-in;
  display: inline-block;
  text-decoration: none;
  border: none;
  position: relative;
  z-index: 2;
}

button:hover {
  background: #fff;
  color: #0B3694;
  transition: all 0.3s ease-in;
}

/* Table Styling */

/* Form Styling */

/* ul-li Styling */

/* Global classes */

.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a {
  color: #fff;
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero h6,
.text-margin-zero .fa,
.text-margin-zero a {
  margin: 0;
}

.base-color-text h1,
.base-color-text h2,
.base-color-text h3,
.base-color-text p,
.base-color-text h4,
.base-color-text h5,
.base-color-text h6,
.base-color-text .fa,
.base-color-text a {
  color: #14263b;
}

.overlay {
  position: relative;
  z-index: 1;
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #14263b;
  opacity: 0.8;
  z-index: -1;
}

.flex {
  display: flex;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Responsive Styling */

/* @media (max-width: 767px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }

  h2 {
    font-size: 40px;
    line-height: 110%;
  }

  h3 {
    font-size: 34px;
    line-height: 120%;
  }

  h4 {
    font-size: 28px;
    line-height: 120%;
  }

  h5 {
    font-size: 26px;
    line-height: 110%;
  }

  h6 {
    font-size: 20px;
    line-height: 30px;
  }
} */
